header{
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 25px;
}
nav{
	line-height:30px;
	height:400px;
	width:200px;
	float:left;
	padding:5px;
}
li{
	padding: 20px;
	font-size: 20px;
	margin-right: 20px;
}
section{
	width:800px;
	padding:10px;	

}

.main{
	background-color: #eeeeee;
	height: 100%;
}