<div class="modal-header">
  <h3 class="modal-title">New Book</h3>
</div>
<div class=" container modal-body ">
	<div class="container center"style="margin-left: 30px;">
		<p><input ng-model="book.title" type="text" placeholder="Title" width="50"></input></p>
		<p><input ng-model="book.writers" type="text" placeholder="Writers" ng-list></input></p>
    	<p><input ng-model="book.description" type="text" placeholder="Description"></input></p>
    	<p><input ng-model="book.cover" type="text" placeholder="Url Cover"></input></p>			    
    	<p><input ng-model="book.price" type="Number" placeholder="Price"></input></p>			    
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-block" type="button" ng-click="addBook(book)">OK</button>
  <button class="btn btn-warning btn-block" type="button" ng-click="cancel()">Cancel</button>
</div>