[ng-click]{
	cursor:pointer;
}

td.titles{
	color:rgb(51,122,183);
	font-weight: bold;
}

h3 {
    text-align: center;
}

textarea{
	width:100%;
}

table{
	flex-wrap: true;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}