<md-dialog  ng-controller="libraryController as ctrl">
    <form id="form-profile">
        <md-content class="md-padding">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Comment</label>
                    <textarea  rows="8" cols="50" required ng-model="ctrl.comment" type="text"> </textarea>
                </md-input-container>
                <md-dialog-actions>
                    <button class="btn btn-primary" ng-click="closeDialog()">Register</button>
                </md-dialog-actions>

        </md-content>
    </form>
</md-dialog>